<h1>Pages</h1>

<p>
    <%= link_to 'New page', new_admin_page_path, :class => 'new-link' %>
</p>

<table class="data" id="pages">
  <tr>
    <th>Name</th>
    <th>Created On</th>
    <th style="width:10%;">Edit</th>
  </tr>

  <% for page in @pages -%>
    <tr>
      <td>
        <%#= page.name #inplace_edit_field({:url=>in_place_edit_admin_pages_path(:id=>page.id,:field=>'name'),:content=>{:element=>'span',:text=>page.name,:id=>"page_#{page.id}"},:ajax=>{:highlightColor=> 'transparent',:highlightEndColor=>'transparent'}})  %>
        <%= page.name %>
      </td>
      
      
      <td><%= page.created_at.strftime("%d %b %Y") -%></td>
      <td>
        <%= link_to('Edit', edit_admin_page_path(page)) %>
        <%= link_to('Delete', admin_page_path(page), :method => :delete, :confirm => 'Delete page?') %>
      </td>
    </tr>
  <% end -%>
</table>


