- cate.children.each do |child|
  %tr
    %td
      - level.times.each do
        &nbsp;&nbsp;&nbsp;&nbsp;
      = child.name
    %td{:style => 'text-align: right;'}= Product.find_all_by_style_id(child.id).size.to_s
    %td= child.keywords
    %td= child.description
    %td= link_to 'Add Sub-Folder', new_admin_style_path(:id => child.id)
    %td= link_to('Edit', edit_admin_style_path(child))
    %td= link_to('Delete', admin_style_path(child), :method => :delete, :confirm => 'Delete Boutique?')
  - if !child.children.empty?
    =render :partial => 'tree_boutique', :locals => {:cate => child, :level => level+1}
