%h1 News Feeds

= link_to 'New Feed', new_admin_news_feed_path, :class => 'new-link'

%table.data
  %tr
    %th Text
    %th Status
    %th Image
    %th Actions
  - @news_feeds.each do |nf|
    %tr
      %td= nf.text
      %td= nf.active ? "Active" : "Inactive"
      %td= image_tag nf.media.url(:normal), :size => '255x55'
      %td
        = link_to 'Edit', edit_admin_news_feed_path(nf)
        = link_to 'Delete', admin_news_feed_path(nf), :method => :delete, :confirm => 'Are you sure?'

