%h1 Categories
%table.data
  %tr
    %th Name
    %th #Products
    %th Keywords
    %th Description
    %th{:colspan => '3'} Options
  - @departments.each do |department|
    -if department.parent.nil?
      %tr
        %td= department.name
        %td{:style => 'text-align: center;'}= Product.find_all_by_department_id(department.id).size.to_s
        %td= department.keywords
        %td= department.description
        %td= link_to 'Add Sub-Category', new_admin_department_path(:id=>department.id)
        %td= link_to('Edit', edit_admin_department_path(department))
        %td= link_to('Delete', admin_department_path(department), :method => :delete, :confirm => 'Delete department?')
      -if !department.children.empty?
        - level=1
        = render :partial => 'tree_category', :locals => {:cate => department, :level => level}
%h2 New Category
- form_for(@new_department, :url => admin_departments_path) do |f|
  = render(:partial => 'admin/departments/form', :object => f)
  = f.submit
