
= render :partial => 'left'
#posts-wrapper
  %h2 LOOKS WE LOVE
  %br
  - @looks.each do |look|
    .post
      %h3.date-and-title== #{look.created_on} &ndash; #{look.title}
      %br    
      = image_tag look.image.url(:looks)
      = look.content
      %br
      %br
= will_paginate @looks, :previous_label => 'PREV', :next_label => 'NEXT'

