#payments-wrapper
  %p{:align => "center"}
    =image_tag "OrderCompletion_03_03.jpg" , :width => "443",:height => "140"
  %p{:align => "center"}
  %p.greyText{:align => "center"}
    .addthis_toolbox.addthis_default_style
      %div{:align => "center", :style => 'width: 350px; margin: 23px auto;'}
        %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
        %a.addthis_button_tweet
        %a.addthis_button_google_plusone{"g:plusone:size" => "medium"}
        %a.addthis_counter.addthis_pill_style
%div{:align => "center"}
  %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f4678045ece37cd", :type => "text/javascript"}
  / AddThis Button END

- if (cookies[:source].nil? || cookies[:source]=='webgains' || cookies[:source]=='test')
  - if defined?(GENERATE_WEBGAINS_CODE) && GENERATE_WEBGAINS_CODE && (cookies[:source].nil? || cookies[:source]=='webgains')
    :javascript
      var wgProtocol = (location.protocol.toLowerCase() == "https:") ? 'https' : 'http';
      var wgUri = wgProtocol + "#{webgains_variables(@order)[:wgUri]}" + "&wgprotocol=" + wgProtocol + "&wglocation=" + location.href;
      document.write('<sc'+'ript type="text/javascript" src="' + wgUri + '"></sc'+'ript>');

    %noscript
      = image_tag("https#{webgains_variables(@order)[:wgUri]}&wgprotocol=https", :alt => '', :size => '1x1').gsub(/&amp;/, '&')

-elsif !cookies[:source].nil? and cookies[:source]=='found'
  =track_order(@order)
:javascript
  var google_conversion_id = 1055895193;
  var google_conversion_language = "en_GB";
  var google_conversion_format = "1";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "c2qmCLnVoAEQmd2-9wM";
  var google_conversion_value = 0;
=javascript_include_tag "http://www.googleadservices.com/pagead/conversion.js"
%noscript
  %div{style="display:inline;"}
    = image_tag "http://www.googleadservices.com/pagead/conversion/1055895193/?label=c2qmCLnVoAEQmd2-9wM&amp;guid=ON&amp;script=0"
- content_for :bottom do
  :javascript
    == #{tracking_amount_kissmetrics(@order.amount)}
  - if ENV['GOOGLE_ANALYTICS_TRACKING_CODE']
    :javascript
      try{
      pageTracker._addTrans(
        "#{@order.id}",
        "#{ENV['COMPANY']}",
        "#{@order.amount}",
        "0",
        "0",
        "#{ENV['CITY']}",
        "#{ENV['STATE_OR_PROVINCE']}",
        "#{ENV['COUNTRY']}"
      );}
    -@cart.cart_items.each do |c_item|
      :javascript
         try{
         pageTracker._addItem(
         "#{@order.id}",
         "#{c_item.product.code}",
         "#{c_item.product.name}",
         "#{c_item.product.department.name}",
         "#{c_item.product.price}",
         "#{c_item.quantity}");}
    :javascript
      try{pageTracker._trackTrans();}
