- form_for(@company_page, :url => admin_company_pages_path) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :content
    %br/
    = f.text_area :content
  %p
    = f.submit 'Save'

- content_for :bottom do
  = javascript_include_tag 'ckeditor/ckeditor'
  :javascript
    CKEDITOR.replace('company_page[content]');

