
%table.form
 
  %tr
    %th
      = form.label :designers
    %td
      = form.select :designer_id,@designers.collect{|p| [p.name,p.id]}, :include_blank =>true
  %tr
    %th
      = form.label :name
    %td
      = form.text_field :name
  %tr
    %th
      = form.label :code
    %td
      = form.text_field :code
  %tr
    %th
      = form.label :price
    %td
      = form.text_field :price
  %tr
    %th
      = form.label :old_price
    %td
      = form.text_field :old_price
  %tr
    %th
      = form.label :stock_level
    %td
      = form.text_field :stock_level
  %tr
    %th
      = form.label :visible
    %td
      = form.check_box :visible
  %tr
    %th
      = form.label :available
    %td
      = form.check_box :available
  %tr
    %th
      = form.label :composition
    %td
      = form.text_field :composition
  %tr
    %th
      = form.label :washing_instrucions
    %td
      = form.text_field :washing_instructions
  
  %tr
    %th
      = form.label :Measurements
    %td
      = form.text_field :measurement
      
  %tr
    %th
      = form.label :Department
    %td
      = form.select :department_id, Department.all.collect {|pro| [ pro.name, pro.id ] } 
   
  %tr
    %th
      = form.label :Boutique
    %td
      = form.select :style_id, Style.all.collect {|pro| [ pro.name, pro.id ] } 
       
  %tr
    %th{:colspan => "2"}
      = form.label :description
  %tr
    %td{:colspan => "2"}
      = form.text_area :description
    %tr
      %th{:colspan => "2"}
        %label Other Colors For This Product                 
    %tr
      %td{:colspan => "2"}
        .products_by_department
          - @all_other_products.group_by(&:department).each do |department, products|
            .department_products
              %span.department_name
                - if department.nil?
                  Other
                - else
                  = department.name
              %br
                - products.each do |color_product|
                  = check_box_tag 'product[related_color_ids][]', color_product.id, @product.related_colors.include?(color_product), :value => color_product.id
                  = color_product.name
                  %br                            
    %tr
      %th{:colspan => "2"}
        %label Complete the look
    %tr
      %td{:colspan => "2"}
        .products_by_department
          - @all_other_products.group_by(&:department).each do |department, products|
            .department_products
              %span.department_name
                - if department.nil?
                  Other
                - else
                  = department.name
              %br
                - products.each do |product|
                  = check_box_tag 'product[complete_outfit_ids][]', product.id, @product.complete_outfits.include?(product), :value => product.id
                  = product.name
                  %br                                    

  - if !@sizes.empty? && !@colors.empty? 
    %tr
      %th
        %b Colors, Sizes & Stock level
    %tr
      %td{:colspan => "2"}
        .products_by_department
          %table.form
            %tr
           
              %th
                %b Sizes\Color
                %th
                  = select :color, :id, @colors.map{|c| [c.name , c.id]}, :selected => @product.colors.first.nil? ? nil : @product.colors.first.id
            - @sizes.each do |s|
              %tr
                %td
                  = s.name
                  = check_box_tag 'size[ids][]', s.id, @product.sizes.include?(s), :value => s.id
                  - stock = ProductSize.find_by_size_id_and_product_id(s.id,@product.id).stock_level rescue stock = ""
                  %td= text_field_tag "size_stock[#{s.id}]", stock, :size => '5'
                  
    %tr
      %th
        %b Add Images
          
    %tr
      %td
        .products_by_department
          - unless @product.colors.empty?
            %table
              %tr
                %th color
                %th
              %tr
                %td{:style => 'text_align: center;'}= image_tag @product.colors.first.image.url(:square), :alt => @product.colors.first.name rescue nil
                %td= link_to 'Add images',addimages_admin_products_path(:locals => {:product => @product.id})


          - else
            Add Sizes & Colors
             

