= link_to 'Back to Fashion News', posts_path
%br
%br
#posts-wrapper
  .post
    %h3.date-and-title== #{@post.created_on} &ndash; #{@post.title}
    %br
    %br
    = image_tag @post.media.url(:editor)
    .content= @post.content

