#products-small
  -if !@products.nil?
    - @products.each do |product|
      - if product.visible == true
        - link_to(product_path(product), :class => 'product-small') do
          .image
            = image_tag main_image_for_product(product, :large), :alt => product.name, :size => '185x247'
          .product_color
            - product.colors.uniq.each do |color|
              = image_tag color.image.url(:square), :class => 'color'
          .product_name
            %p
              %b= product.name
            %p
            .price
              = "#{number_to_currency(product.price, :precision => 2, :unit => '&pound;')}"
            
%div{:style => "width:100%; float:left" }
  = Department.find_by_id(params[:id].to_i).bottomtext
= will_paginate @products, :previous_label => 'PREV', :next_label => 'NEXT'