#wrapper
  #maincontent
    #offer
      %span{:style => " color:#000"} 10% OFF
      'GO FOR GOLD' Range - SIMPLY ENTER 'GOGOLD' AT CHECKOUT - Offer Ends 12/08/12 - Shop Now
    .breadcrumb
      %a{:href => "#"} Shop by Category
      |
      %a{:href => "#"}= @product.department.name
      %span.breadcrumb_current= @product.name
    .product_wrap
      .product_gallery
        %a{:href => "#"}
          - unless @product.product_images.first.nil?
            = image_tag main_image_for_product(@product, :large), :alt => @product.name, :style => "opacity: 1;", :height => "180", :width => "151"
          - else
            = image_tag('/images/medium/missing.png', :style => "opacity: 1;", :height => "180", :width => "151")
      .details_wrap
        %p
          %span.product_heading= @product.name
        %p  
        %p
          %span.pinkbold Product Code:
          = @product.code
        %p
          %span.pinkbold Composition:
          - if !@product.composition.blank?
            = @product.composition
          - else
            Not available
        %p
          %span.pinkbold Washing Instructions
          - if !@product.washing_instructions.blank?
            = @product.washing_instructions
          - else
            %span No instructions!
        .details_row
          - if @product.available
            - form_for(@new_cart_item) do |f|
              = f.hidden_field(:product_id, :value => @product.id)
              .details_column
                %span.price2
                  - if @product.reduced_price?
                    = number_to_currency(@product.old_price, :precision => 2, :unit => '£')
                  = number_to_currency(@product.price, :precision => 2, :unit => '£')
                %label
                  %br/
                  %br/
                  %strong Size:
                  = collection_select 'cart_item', 'size', @product.sizes.uniq, :id, :name, {}, {:class => 'form_product ', :style => "font-size: 100%;width:50px; padding:5px;"}
                
                  = f.hidden_field (:color, :value => @product.colors.first.id) rescue nil
                  - unless @product.colors.blank?
                    %strong Color:
                    = image_tag @product.colors.first.image.url(:square) rescue nil
               
                %label
                  %strong Qty:
                  = text_field 'cart_item', 'quantity',:size=> '1', :class =>'form_product', :value => '1'
              .details_column2
                %p.instock INSTOCK
                %p.instock
                  \ 
                %p
                  %label
                    %input.addtocart{:name => "Submit", :type => "submit", :value => "ADD TO CART"}/
        .discription
          = @product.description
        %div{:style => "margin: 20px 0 0 0"}
          %a{:href => "#"}
            %img{:align => "absmiddle", :alt => "", :border => "0", :src => "/images/rec.jpg"}/
          %img{:align => "absmiddle", :alt => "", :height => "16", :src => "/images/facebook.jpg", :width => "16"}/
          Be the first of your friends to recommend this
    .cl
      .clheading COMPLETE THE LOOK
      .cl_strip
        %a{:href => "#"}
          - if !@product.related_colors.empty?
            Product In colors
          - if !@product.related_colors.empty?
            - @product.related_colors.each do |color_product|
              - link_to product_path(color_product), :class => 'related-product' do
                = image_tag color_product.product_images.first.image.url(:tiny) rescue nil
          - if !@product.complete_outfits.empty?
            - @product.complete_outfits.each do |outfit|
              - link_to product_path(outfit), :class => 'related-product' do
                %ul.otherproducts
                  %li= image_tag main_image_for_product(outfit, :tiny), :alt => outfit.name, :title => outfit.name